.container {
  width: 300px;
  margin: 40px auto;
  text-align: center;
}

input{
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

button{
  width: 100%;
  padding: 8px;
  margin-top: 10px ;
  cursor: pointer;
}

ul{
  list-style-type: none;
  padding: 0;
}